* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 130px 800px;
}

/*--------------------------------------------------Header------------------------------------------------------*/
.header {
    background-color: white;
    display: grid;
    grid-template-rows: 30px 1fr;
    padding-top: 15px;
    padding-left: 40px;
    align-content: center;
    font-weight: bold;
}

.header .row-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 25px 1fr;
    height: 24px;
}

.search-icon, .icon {
    width: 20px;
    height: 20px;
    background-color: rgb(127, 79, 79);
    align-self: center;
}

input {
    padding-left: 10px;
    width: 80%;
    height: 24px;
    border-style: none;
    outline-style: none;
    border-radius: 20px;
    background-color: rgb(212, 225, 227);
}

.account {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 30px;
}

.icon, .username {
    align-self: center;
}


.profile-icon {
    width: 30px;
    height: 30px;
    background-color: brown;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.row-2 > * {
    display: flex;
    gap: 10px;
    align-items: center;

}

.greeting {
    padding-left: 10px;
}

.greeting .profile-icon {
    width: 50px;
    height: 50px; 
}

.hi-username {
    align-self: center;
}

.hi {
    font-size: 12px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 400px;
    justify-self: center;
}

button {
    width: 27%;
    height: 2.5em;
    font-weight: bold;
    border-radius: 15px;
    border-style: none;
    background-color: rgb(37, 137, 199);
    color: white;

}


/*--------------------------------------------------Sidebar---------------------------------------------*/
.sidebar {
    background-color: rgb(37, 137, 199);
    color: white;
    grid-row: 1 / -1;
    padding-left: 20px;
    display: grid;
    grid-template-rows: 50px 200px 130px ;
    gap: 20px;
    font-weight: bold;
    padding-top: 15px;

}

.dashboard {
    font-size: 24px;
    display: grid;
    grid-template-columns: 50px 1fr;
    width: 80%;
    height: 50px;
}

.dashboard .icon {
    width: 50px;
    height: 50px;
}

.dashboard p {
    align-self: center;
}

.icon + p {
    padding-left: 10px;
}

.icons-1,
.icons-2 {
    display: grid;
    padding: 10px;
}

.icons-1 > div, .icons-2 > div {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 20px;
    width: 80%;
}

.icons-1 p, .icons-2 p {
    align-self: center;
    font-size: 18px;
}

/*---------------------------------------Main Content---------------------------------------------------------*/
.main-content {
    background-color: rgb(212, 225, 227);
    padding-left: 20px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 2.4fr 1fr 20px;
    grid-template-rows: 1.5fr 1fr;
    row-gap: 50px;
    padding-bottom: 30px;
}

.title, .small-title {
    font-weight: bold;
}

.projects,
.announcements-container {
    padding-top: 40px;

}

.projects {
    grid-row: 1 / -1;
    grid-column: 1;
    position: relative;
    display: grid;
    padding-right: 20px;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
}

.project {
    border: 1px solid gray;
    border-left: 10px solid orange;
    border-radius: 10px;
    position: relative;
    padding: 30px;
    background-color: white;
}

.project .icon {
    width: 40px;
    height: 40px;   
}

.icons {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.announcements-container {
    grid-row: 1;
    grid-column: 2;
    position: relative;
    display: grid;
}

.trending-container {
    grid-row: 2;
    grid-column: 2;
    position: relative;
}

.announcements, .trending {
    display: grid;
    border: 1px solid gray; 
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.trending {
    gap: 10px;
    padding: 20px;
    height: 100%;
}

.trending .item {
    display: flex;
    gap: 10px; 
}

.item > * {
    align-self: center;
}

.item > .profile-icon {
    width: 40px;
    height: 40px;
}


.absolute-title {
    position: absolute;
    color: black;
    top: 10px;
    font-weight: bold;
}

.trending-container .absolute-title {
    top: -30px;
}

